body {
  background: #e6e8eb;
}

#box {
  border: 1px solid #c8c8c8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  background: rgba(200, 200, 200, 0.1);
  border-radius: 4px;
}

h2 {
  text-align: center;
  color: #fff;
}

#sub {
  background: #2f4e8e;
  color: white;
  font-size: 20px;
  height: 45px;
  margin: 15px 0px 30px;
}

.row-fluid {
  margin-top: 10%;
}

/*# sourceMappingURL=css/style.css.map */
